html {
    background: linear-gradient(200deg, #F9F3DF, #FFDEFA, #CDF2CA);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
}

button {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #0F4137;
    color: #12776F;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;;
  }

body {
    /* background-color: #D9CAB3; */
    /* background-color: white; */
    /* background-size: 50%; */
    color: #082032;
    text-align: center;

}

h1 {
    color: #916BBF;
}

h2 {
    color: #152D35;
}

h3 {
    color: #3D2C8D;
}

